
page{
	background: #F0F0F0;
}
uni-page-head,.uni-page-head{
	z-index: 9999;
}
.uni-swiper__warp,.uni-swiper__dots-box{
	z-index: 4;
}
.uni-swiper__dots-box{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	left: inherit !important;
	padding: 10upx 20upx;
	border-radius: 40upx;
	right: 20upx !important;
	bottom: 60upx !important;
	z-index: 100 !important;
}
.sfdsdttx {
		border-radius: 40upx;
		background: #47D1A3;
		color: #fff;
		width: 114upx;
		height: 42upx;
		line-height: 42upx;
		font-size: 24upx;
		text-align: center;
		display: inline-block;
	}
	.sfdsdttx.act{
		background: #E0E0E0;
	}
	.jhhxrert {
		border-top-left-radius: 8upx;
		border-top-right-radius: 8upx;
		line-height: 96upx;
		font-size: 36upx;
		color: #808080;
	}
	.sdfsdrtt.act{
		color: #000000;
	}
	.sdfsdrtt.act::after{
		content: ' ';
		width: 46upx;
		height: 6upx;
		background: #1A75F6;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
	}
	.kjhxdrrt{
		border-radius: 8upx;
		background: #fff;
		min-height:580upx ;
	}
	.sdfdrtxwe{
		padding-top: 176upx;
	}
	.jhbbnxdf{
		width: 292upx;
		height: 84upx;
		border-radius: 80upx;
		line-height: 84upx;
		border:1px solid #1A75F6;
		color: #1A75F6;
		display: inline-block;
	}
	
	.userinput{
		height: 88upx;
		border-radius: 8upx;
		border: 1px solid #CCCCCC;
		padding-left: 30upx;
		margin-top: 16upx;
	}
	.userinput.ab{
		height: 134upx;
		padding-top: 20upx;
	}
	.userinput.ac{
		line-height: 88upx;
	}
	
	.closderert{
		position: absolute;
		right: 20upx;
		top: 26upx;
	}
	
	.fanhuier{
		background: #1A75F6;
		color: #fff;
		font-size: 28upx;
		color: #fff;
		position: fixed;
		right: 20upx;
		bottom: 80upx;
		padding: 8upx 40upx;
		z-index: 5;
		border-radius: 40upx;
	}
	.jjhhdrtrts{
		height: 130upx;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1000;
		padding-top: 70upx;
	}
	.leistrrt{
		width: 36upx;
		position: relative;
		bottom: 4upx;
	}
	.bgsddrrt{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
	}
	.van-notice-bar{
		background:transparent !important;
	}
	.van-notice-bar__content{
		color: #333 !important;
	}
	.van-icon.van-icon--image{
		width: 50upx;
		height: 50upx;
	}
	
	
	.dsfsdtyy{
		min-height: 500upx;
		background: #fff;
		padding-top: 150upx;
	}
	.sdfsdrtxe{
		background: #1A75F6;
		color: #fff;
		border-radius: 80upx;
		width: 270upx;
		line-height: 80upx;
		text-align: center;
		font-size: 28upx;
		display: inline-block;
		
		border: 1px solid #1A75F6;
	}
	.sdfsdrtxe.ab{
		background: #fff;
		color: #1A75F6;
	}
	
	.jjhghsedert{
		border: 1px solid #CCCCCC;
		border-radius: 8upx;
		width: 152upx;
		height: 152upx;
		line-height: 152upx;
		text-align: center;
	}
	.kjnxertrt{
		width: 72upx;
		height: 72upx;
	}
	.dsfdsrtfs{
		display: inline-block;
		text-align: center;
		width: 144upx;
		line-height: 50upx;
		border-radius: 40upx;
		background:#1A75F6 ;
		color: #fff;
		font-size: 24upx;
	}
	.kjhnxderrt{
		position: relative;
		border-radius: 40upx;
		color: #1A75F6;
		background-color:#EAF2FE ;
		font-size: 26upx;
		display: inline-block;
		padding: 10upx 20upx;
		margin-right: 15upx;
		margin-bottom: 26upx;
	}
	.cloasert{
		width: 36upx;
		height: 36upx;
		position: absolute;
		right: -15upx;
		top:-15upx;
		z-index: 10;
		
	}
	.dsfsdrtt{
		width: 30upx;
		position: relative;
		top: -4upx;
	}
	.kjhnxeertx{
		line-height: 90upx;
		height: 90upx;
		border-radius: 80upx;
		border: 1px solid #1A75F6;
		color: #1A75F6;
		overflow: hidden;
		font-size: 32upx;
		text-align: center;
	}
	.fdgdttxeer{
		width: 270upx;
		
	}
	.dfrtxeertr{
		background: #1A75F6;
		color: #fff;
	}
	.quiejdertr{
		position: absolute;
		right: 0;
		top: 0;
		width: 142upx;
		height: 88upx;
		background:#1A75F6 ;
		color: #fff;
		text-align: center;
		line-height: 100upx !important;
		border-radius: 8upx;
		font-size: 32upx;
		z-index: 1000;
	}
	.kjhnxderrt.acte{
		background: #F4F4F4;
		color: #808080;
	}
	.dsfrttysew{
		min-height: 400upx;
	}
	
	.dsfsttse .uni-searchbar__box{
		background: #D9D9D9 !important;
		height: 80upx !important;
		border-radius: 60upx !important;
	}
	.dsfsttse .uni-searchbar__cancel{
		line-height: 80upx !important;
	}
	
	.jhjbcrtxer{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.bofnahert{
		width: 80upx;
		height: 80upx;
	}
	